{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>Transaction History</h1><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-mid">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for row in data %}
            <tr>
                <td class="text-start">{{ row["symbol"] }}</td>
                <td class="text-start">{{ row["name"] }}</td>
                <td class="text-mid">{{ row["shares"] }}</td>
                <td class="text-end">{{ usd(row["price"]) }}</td>
                <td class="text-end">{{  row["date"]  }}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}