{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-mid">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>

        <tbody>
            {% for row in stocks %}
            <tr>
                <td class="text-start">{{ row["symbol"] }}</td>
                <td class="text-start">{{ row["name"] }}</td>
                <td class="text-mid">{{ row["shares"] }}</td>
                <td class="text-end">{{ usd(row["price"]) }}</td>
                <td class="text-end">{{ usd(row["total"] * row["price"]) }}</td>
            </tr>
            {% endfor %}

            <tr>
                <th class="border-0 fw-bold text-end" colspan="4">Cash</th>
                <th class="border-0 text-end">{{usd(cash)}}</th>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th class="border-0 fw-bold text-end" colspan="4">Total</th>
                <th class="border-0 w-bold text-end">{{usd(total)}}</th>
            </tr>
        </tfoot>


    </table>
{% endblock %}