{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1><br>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select style="margin-bottom: 15px" autocomplete="off" autofocus class="form-select multiple aria-label mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
                <option disabled selected>Symbol</option>
                {% for symbol in symbols %}
                    <option>{{ symbol["symbol"] }}</option>
                {% endfor %}
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
